@import url("./assets/fonts/stylesheet.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #dfdfdf;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #202932;
    border-radius: 100vh;
    border: none;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #202932;
  }
}
